.feeds {
  display:block;
  margin-bottom: 500px;
  /*position: absolute;
  margin-bottom: 50px;
  height: 100%;*/
}
.feed {
  height: 100%;
  min-height: 100%;
  background-color: #efefef;
  border: 1px solid #cccccc;
  width: 49%;
  text-shadow: 0px 1px 0px #ffffff;
  filter: dropshadow(color=#ffffff, offx=0, offy=1);
  padding-top:5px;
  padding-bottom:5px;
}

.feed h1{
  padding-left: 5px;
}

.feed h1 a{
  font-size: 14px;
  border: none;
  vertical-align: middle;

}

.feed ul{
margin: 0px 10px 0px 10px;
}

.feed li{
  list-style-type: none;
  border: 1px dotted #cccccc;
  padding:0px 5px 5px 5px;
  margin-top: 5px;
  background-color: #FAFCFC; 
  font-weight:300;
  color:#999;
  font-family: Helvetica, Arial, sans-serif;
}

.feed li a{
  border: 0px;
}

.feed img{
height:25px;
width: 25px;
padding-left: 5px;
}

.full {
  display: block;
}