#wrapper{
	width:90%;
	margin: 40px auto 40px auto;
	border: 1px solid #CCC;
	background: #FAFCFC;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.header {
	border-bottom:1px solid #CCC;
	text-align:right;
	background: #EFEFEF;
	padding: 15px 15px 0px 20px;

}
.header .name{
	font-weight: bold;
	font-size: 200%;
	float: left;
}
.header li{
	list-style: none;
}
.section .category{
	margin-top:10px;
	padding: 5px 0px 5px 20px;	
	width: 30%;
	background: #EFEFEF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #CCC;
	font-size: 150%;
}
.section{
}
.section h1{
	position:relative;
	font-size: 120%;
	width: 50%;
	float: left;	
	border-bottom:1px dotted #CCC;
}
.section h1 a{
	color: black;
	text-decoration: none;
}
.section h2{
	font-size: 120%;
	width:50%;
	float: left;
	text-align: right;

}
.section .title{
	font-size: 100%;
	font-style: italic;
}
.section li{
	list-style-type:square;
}
.inner{
	padding: 0px 40px 0px 40px;
}
