.header {
	border-bottom:3px solid black;
	text-align:right;
	width:100%;
}
.header .name{
	font-weight: bold;
	font-size: 200%;
	float: left;
}
.header li{
	list-style: none;
}
.section .category{
	padding: 5px;	
	font-size: 150%;
	border-bottom:2px solid black;
	width: 30%;
}
.section h1{
	position:relative;
	font-size: 120%;
	width: 50%;
	float: left	
}
.section h2{
	font-size: 120%;
	width:50%;
	float: left;
	text-align: right;
}
.section .title{
		font-size: 100%;

}